- var theme = document.theme || 'default';
- var transition = document.transition || 'default';

doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= getPreparedTitle()
    meta(name='description', content=getPreparedDescription())
    meta(name='author', content=site.author || '')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/dependencies/reveal.js/css/reveal.min.css')
    link#theme(rel='stylesheet', href='/dependencies/reveal.js/css/theme/#{theme}.css')
    // For syntax highlighting
    link(rel='stylesheet', href='/dependencies/reveal.js/lib/css/zenburn.css')
    // If the query includes 'print-pdf', include the PDF print sheet
    script.
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '/dependencies/reveal.js/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    //if lt IE 9
      script(src='lib/js/html5shiv.js')

  body
    .reveal
      // Any section element inside of this container is displayed as a slide
      .slides!= content

    script(src='/dependencies/reveal.js/lib/js/head.min.js')
    script(src='/dependencies/reveal.js/js/reveal.min.js')
    script.
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: '#{theme}', // default|beige|blood|moon|night|serif|simple|sky|solarized
        transition: '#{transition}', // default|cube|page|concave|zoom|linear|fade|none
        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',
        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: '/dependencies/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/dependencies/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/dependencies/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/dependencies/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/dependencies/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/dependencies/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{site.google.analytics.trackingId}', 'auto');
      ga('send', 'pageview');
